{% extends 'back/base_admin.html.twig' %}

{% block title %}Créer Réalisation{% endblock %}

{% block body %}

    <!-- BREADCRUMBS -->
    <div class="row pb-4">
        <div class="col-auto">
            <i class="fa fa-star circular circular-success"></i>
        </div>
        <div class="col pt-3">
            <h1 class="h1 bdc-title">Créer Réalisation</h1>
            <span class="text-grey">Gestion des réalisations</span>
        </div>
        <div class="col text-right">
            <a href="{{ path('realisation_index') }}" class="btn btn-success-light btn-md">
                <i class="fa fa-table"></i>
                <span class="px-2 font-weight-normal">Liste</span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>
    </div>
    <!-- BREADCRUMBS -->

    <!-- FORMULAIRE ADD OBJETS -->
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="box p-4">
                <div class="box p-4">
                    <div class="box-header p-0 pb-2 mb-3"><h3>Informations générales</h3></div>
                    {{ form_errors(form) }}

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="form-group">
                                <label class="text-grey is-required">Titre</label>
                                {{ form_widget(form.titre) }}
                                {{ form_errors(form.titre) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label class="text-grey is-required">Description</label>
                                {{ form_widget(form.description) }}
                                {{ form_errors(form.description) }}

                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label class="text-grey is-required">Url</label>
                                {{ form_widget(form.url) }}
                                {{ form_errors(form.url) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label class="text-grey is-required">Image</label>
                                <div><img src="" width="300px" id="croppedImage"/></div>
                                <input id="cropperUpload" type="file" name="photo" accept="image/*">
                                {{ form_widget(form.imageCropping.base64) }}
                                {{ form_widget(form.imageCropping.imageName) }}
                            </div>
                        </div>
                    </div>


                </div>


                <button class="btn btn-success-light">Sauvegarder</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
    <!-- FORMULAIRE ADD OBJETS -->

    <!-- MODAL CROPPERJS -->
    <div class="modal fade remove-modal" tabindex="-1" role="dialog" id="cropperModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Crop Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="justify-content: center; display: flex;">
                        <img style="width: 271px; height: 271px;" id="previewImage" src="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="buttonCancelCropped" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button id="buttonSaveCropped" class="btn btn-success text-white">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL CROPPERJS -->
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        let cropper;
        let cropperModalId = '#cropperModal';
        let $jsPhotoUploadInput = $('#cropperUpload');

        $jsPhotoUploadInput.on('click', function () {
            this.value = null;
        });

        $jsPhotoUploadInput.on('change', function () {
            var files = this.files;
            if (files.length > 0) {
                var photo = files[0];
                var reader = new FileReader();

                reader.onload = function (event) {
                    var image = $('#previewImage')[0];
                    image.src = event.target.result;

                    if (image.classList.contains("cropper-hidden")) {
                        image.src = "";
                        image.cropper.destroy();
                    }

                    cropper = new Cropper(image, {
                        viewMode: 1,
                        aspectRatio: 1,
                        minContainerWidth: 400,
                        minContainerHeight: 400,
                        minCropBoxWidth: 271,
                        minCropBoxHeight: 271,
                        movable: true
                    });

                    $(cropperModalId).modal();

                    $('#buttonCancelCropped').on('click', function () {
                        cropper.destroy();
                    });
                };
                reader.readAsDataURL(photo);
            }
        });

        $('#buttonSaveCropped').on('click', function (event) {
            event.preventDefault();
            const canvas = cropper.getCroppedCanvas();
            const base64encodedImage = canvas.toDataURL();
            console.log(base64encodedImage);
            $('#croppedImage').attr('src', base64encodedImage);
            $('#realisation_create_imageCropping_base64').val(base64encodedImage);
            $(cropperModalId).modal('hide');
            cropper.destroy();
        });
    </script>
{% endblock %}